<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>Responsive Hotel  Site template</title>
<meta name="description" content="Responsive Hotel  Site template">
<meta name="author" content="">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS -->
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/skeleton.css">
<link rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="fontello/css/fontello.css">

<!-- prettyPhoto plugin -->
<link rel="stylesheet" href="js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Favicons-->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>
<header>
<div class="container">
	<div class=" four columns" id="logo"><a href="index.html">Paradise hotel</a></div>
	<div class="twelve columns">
		<ul id="lang">
			<li>En</li>
			<li><a href="#">Fr</a></li>
			<li><a href="#">Es</a></li>
		</ul>
		<div id="wxWrap"><span id="wxIntro">Currently here</span><span id="wxIcon2"></span><span id="wxTemp"></span></div><!-- weather -->
	</div>
    <!-- start main nav -->
	<div class="twelve columns">
		<nav>
		<ul id="main-nav" class="sf-menu">
			<li><a href="#">Home</a>
			<ul>
				<li><a href="index.html">Home slider</a></li>
				<li><a href="index_2.html">Home fullscreen</a></li>
			</ul>
			</li>
			<li><a href="rooms.html">Rooms</a></li>
			<li><a href="#">Pages</a>
			<ul>
				<li><a href="about.html">About</a></li>
				<li><a href="fullscreen_gallery.html">Fullscreen gallery</a></li>
				<li><a href="gallery_columns.html">Gallery grids</a></li>
				<li><a href="rooms_2.html">Rooms 2</a></li>
			</ul>
			</li>
			<li><a href="contacts.html">Contact us</a></li>
			<li><a href="#">Purchase</a></li>
		</ul>
		</nav><!-- end main nav -->
	</div><!-- end twelve -->
</div><!-- end container -->
</header><!-- end header-->

<div class="container">
	<div class="sixteen columns add-bottom">
		<h1>About the hotel<span>Lorem ipsum dolor sit amet, per ne purto corpora, cu eam cetero dolores.</span></h1>
	</div>
    
	<div class="ten columns add-bottom">
		<div class="picture">
			<a href="img/about_1.jpg" data-rel="prettyPhoto"><span class="magnify"></span><img src="img/about_1.jpg" alt="picture" class="scale-with-grid"></a><em></em>
		</div>
		<h3>Ne has debet <span>Luvaret inciderint neglegentur qui ei</span></h3>
		<p>
			Lorem ipsum dolor sit amet, per ne purto corpora, cu eam cetero dolores. Ea insolens disputando ius, quo vidit dicta ne. Eu nobis accommodare vim, primis persius usu cu, te sed clita similique. Augue consul virtute ut eum, vide vocent in per. <strong>At legendos ullamcorper nec</strong>. Ad noster alienum per. Te nostrud menandri eam. Lorem ipsum dolor sit amet, per ne purto corpora, cu eam cetero dolores. Ea insolens disputando ius, quo vidit dicta ne.
		</p>
        <p>
			Lorem ipsum dolor sit amet, per ne purto corpora, cu eam cetero dolores. Ea insolens disputando ius, quo vidit dicta ne. Eu nobis accommodare vim, primis persius usu cu, te sed clita similique. Augue consul virtute ut eum, vide vocent in per. <strong>At legendos ullamcorper nec</strong>. Ad noster alienum per. Te nostrud menandri eam. Lorem ipsum dolor sit amet, per ne purto corpora, cu eam cetero dolores. Ea insolens disputando ius, quo vidit dicta ne.
		</p>
		<blockquote>
			 Augue consul virtute ut eum, vide vocent in per. At legendos ullamcorper nec. Ad noster alienum per. Te nostrud menandri eam.
		</blockquote>
		<p>
			Lorem ipsum dolor sit amet, per ne purto corpora, cu eam cetero dolores. Ea insolens disputando ius, quo vidit dicta ne. Eu nobis accommodare vim, primis persius usu cu, te sed clita similique.
		</p>
		<hr>
        
		<h3>Lorem ipsum dolor sit ame<span>Lorem ipsum dolor sit amet, per ne purto corpora, cu eam cetero dolores</span></h3>
		<p>
			Lorem ipsum dolor sit amet, per ne purto corpora, cu eam cetero dolores. Ea insolens disputando ius, quo vidit dicta ne. Eu nobis accommodare vim, primis persius usu cu, <a href="#">te sed clita similique.</a> Augue consul virtute ut eum, vide vocent in per. <em>At legendos ullamcorper ne</em>c. Ad noster alienum per. Te nostrud menandri eam. Lorem ipsum dolor sit amet, per ne purto corpora, cu eam cetero dolores. Ea insolens disputando ius, quo vidit dicta ne.
		</p>
		<p>
			Eu nobis accommodare vim, primis persius usu cu, te sed clita similique. Augue consul virtute ut eum, vide vocent in per. At legendos ullamcorper nec. Ad noster alienum per. Te nostrud menandri eam.
		</p>
		<hr>
        
		<iframe src="http://player.vimeo.com/video/26343407?byline=0&amp;portrait=0" width="100%" height="250"  class="add-bottom">
		</iframe>
		<h3>Eu nobis accommodare vim<span> Augue consul virtute ut eum, vide vocent in per</span></h3>
		<p>
			Lorem ipsum dolor sit amet, per ne purto corpora, cu eam cetero dolores. Ea insolens disputando ius, quo vidit dicta ne. Eu nobis accommodare vim, primis persius usu cu, te sed clita similique. Augue consul virtute ut eum, vide vocent in per. At legendos ullamcorper nec. Ad noster alienum per. Te nostrud menandri eam. Lorem ipsum dolor sit amet, per ne purto corpora, cu eam cetero dolores. Ea insolens disputando ius, quo vidit dicta ne. Eu nobis accommodare vim, primis persius usu cu, te sed clita similique.
		</p>
	</div><!-- end ten columns-->
    
    <!-- start right column-->
	<div class="five columns offset-by-one add-bottom">
    
		<h4 id="swim">Swimming pool</h4>
		<div class="three columns alpha">
			<img src="img/poll.jpg" alt="" class="scale-with-grid half-bottom" >
		</div>
		<br class="clear">
		<p>
			Vix in error iuvaret, at omnium prompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. Appetere dignissim vis et.
		</p>
        
		<h4 id="restaurant">Restaurant</h4>
		<div class="three columns alpha">
			<img src="img/restaurant.jpg" alt="" class="scale-with-grid half-bottom" >
		</div>
		<br class="clear">
		<p>
			Vix in error iuvaret, at omnium prompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. Appetere dignissim vis et.
		</p>
        
		<h4 id="bar">Cocktail Bar</h4>
		<div class="three columns alpha">
			<img src="img/bar.jpg" alt="" class="scale-with-grid half-bottom">
		</div>
		<br class="clear">
		<p>
			Vix in error iuvaret, at omnium prompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. Appetere dignissim vis et.
		</p>
        
		<h4 id="sports">Sports</h4>
		<ul class="list_4">
			<li>Vix in error iuvaret, at omnium prompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. Appetere dignissim vis et. </li>
			<li>Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque. Eu eum inermis verterem assentior.</li>
			<li>Vix in error iuvaret, at omnium prompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne. Appetere dignissim vis et. </li>
			<li>Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque. Eu eum inermis verterem assentior.</li>
		</ul>
	</div><!-- end right column-->
</div><!-- end container -->

<footer>
    <div class="container">
        <nav class="eleven columns">
        <ul id="nav-footer">
            <li><a href="rooms.html">Rooms</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="rooms.html">Book now</a></li>
            <li><a href="fullscreen_gallery.html">Gallery</a></li>
            <li><a href="contacts.html">Contacts </a></li>
        </ul>
        </nav>
    <div class="five columns copy">© 2012 Paradise Hotel. All Rights Reserved.</div>
    </div>
</footer><!-- footer  -->
<!-- Jquery -->
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<!-- JQUERY plugins: Moderniz, Prettyphoto, Flexislider, MobileMenu, SuperfishMenu, Weather, Tooltip-->	
<script type="text/javascript"  src="js/plug_ins.js"></script>
<!-- Google Maps API -->	
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/google_map.js"></script>
<script src="js/functions.js"></script>
</body>
</html>