<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
{% load i18n static  staticfiles%}


{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/base.css"%}">
    <link rel="stylesheet" href="{% static "css/skeleton.css"%}">
    <link rel="stylesheet" href="{% static "css/menu.css"%}">
    <link rel="stylesheet" href="{% static "css/flexslider.css"%}">
    <link rel="stylesheet" href="{% static "css/layout.css"%}">
    <link rel="stylesheet" href="{% static "fontello/css/fontello.css"%}">
    <!-- prettyPhoto plugin -->
    <link rel="stylesheet" href="{% static "js/prettyPhoto/css/prettyPhoto.css"%}" type="text/css" media="screen">
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static "img/favicon.ico"%}">
    <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png"%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png"%}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png"%}">
{% endblock %}


<head>
    {% block head %}
        <!-- Basic Page Needs -->
        <meta charset="utf-8">
        <title>{% block title %}Dubai Residence{% endblock %}</title>
        <meta name="description" content="Responsive Hotel  Site template">
        <meta name="author" content="">

        <!-- Mobile Specific Metas -->
    {% endblock %}
</head>

<body>
{% block header %}
    <header>
        <div class="container">
            <div class=" four columns" id="logo"><a href="index.html">Paradise hotel</a></div>
            <!-- start main nav -->
            <div class="twelve columns">
                <nav>
                    <ul id="main-nav" class="sf-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="rooms.html">Rooms</a></li>
                        <li><a href="#">Pages</a>
                            <ul>
                                <li><a href="about.html">Sobre</a></li>
                                <li><a href="fullscreen_gallery.html">Fullscreen gallery</a></li>
                                <li><a href="gallery_columns.html">Gallery grids</a></li>
                                <li><a href="rooms_2.html">Rooms 2</a></li>
                            </ul>
                        </li>
                        <li><a href="/contato/">Contato</a></li>
                        <li><a href="/cadastro/">Cadastro</a></li>
                    </ul>
                </nav><!-- end main nav -->
            </div><!-- end twelve -->
        </div><!-- end container -->
    </header><!-- end header-->
{% endblock %}

<!-- slideshow -->
{% block slider %}
{% endblock %}
<!-- slideshow -->

<!-- reservas -->
{% block grey_bg %}
{% endblock %}
<!-- reservas -->

<!-- info -->
{% block hotel_info %}
{% endblock %}
<!-- info -->

{% block footer %}
    <footer>
        <div class="container">
            <nav class="eleven columns">
                <ul id="nav-footer">
                    <li><a href="rooms.html">Rooms</a></li>
                    <li><a href="about.html">Sobre</a></li>
                    <li><a href="rooms.html">Book now</a></li>
                    <li><a href="fullscreen_gallery.html">Galeria</a></li>
                    <li><a href="/contato/">Contato</a></li>
                </ul>
            </nav>
            <div class="five columns copy">© 2014 Dubai Residence. Todos os direitos reservados.</div>
        </div>
    </footer><!-- footer  -->
{% endblock %}
{% block js %}
    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{% static "js/flexi_slider.js"%}"></script>
    <script type="text/javascript">
        $(window).load(function() {
            $('.flexslider').flexslider();
        });
    </script>
    <!-- JQUERY plugins: Moderniz, Prettyphoto, Flexislider, MobileMenu, SuperfishMenu, Weather, Tooltip-->
    <script type="text/javascript"  src="{% static "js/plug_ins.js"%}"></script>
    <!-- Google Maps API -->
    {#    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>#}
    <script type="text/javascript" src="{% static "js/google_map.js"%}"></script>
    <script src="{% static "js/functions.js"%}"></script>
{% endblock %}
</body>
</html>