{% extends "base.html" %}
{% load i18n static  staticfiles%}
{% load thumbnail %}

{% block slider %}
    <div class="container">
        <div class="sixteen columns add-bottom">
            <h1>Galeria</h1>
        </div>
        <section class="sixteen columns">
            <h3>Galeria</h3>
            <p>Fotos dos melhores momentos do condomínio Dubai Residence. </p>
        </section>
        <div class="add-bottom">
            {% for g in gallery %}
                <div class="one-third column picture loader">
                    {% thumbnail g.foto "700" crop="center" as big %}
                        <a href={{ MEDIA_URL }}{{ big }} data-rel="prettyPhoto[photo]" title="" >
                    {% endthumbnail %}
                    {% thumbnail g.foto "300" crop="center" as small %}
                        <img src={{ MEDIA_URL }}{{ small }} alt="" class="scale-with-grid"><span class="magnify"></span><em></em></a>
                    {% endthumbnail %}
                </div>
            {% endfor %}
            <br class="clear">
        </div>
    </div>
{% endblock %}