<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>Responsive Hotel  Site template</title>
<meta name="description" content="Responsive Hotel  Site template">
<meta name="author" content="">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS -->
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/skeleton.css">
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/supersized.css" type="text/css" >
<link rel="stylesheet" href="theme/supersized.shutter.css" type="text/css" >

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
        
<!-- Jquery -->
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	
</head>
<body class="full"><!--  This class call different styles only for this page --> 
<header>
<div class="container">
	<div class=" four columns" id="logo"><a href="index.html">Paradise hotel</a></div>
	<div class="twelve columns">
	<ul id="lang">
		<li><a href="#">En</a></li>
		<li><a href="#">Fr</a></li>
		<li><a href="#">Es</a></li>
	</ul>
    <div id="back"><a href="index.html">Back to home</a></div><!--  Back button for Mobile --> 
    <div id="wxWrap"><span id="wxIntro">Currently here</span><span id="wxIcon2"></span><span id="wxTemp"></span></div>
</div>
<!-- start main nav -->
	<div class="twelve columns">
		<nav>
		<ul id="main-nav" class="sf-menu">
			<li><a href="#">Home</a>
			<ul>
				<li><a href="index.html">Home slider</a></li>
				<li><a href="index_2.html">Home fullscreen</a></li>
			</ul>
			</li>
			<li><a href="rooms.html">Rooms</a></li>
			<li><a href="#">Pages</a>
			<ul>
				<li><a href="about.html">About</a></li>
				<li><a href="fullscreen_gallery.html">Fullscreen gallery</a></li>
				<li><a href="gallery_columns.html">Gallery grids</a></li>
				<li><a href="rooms_2.html">Rooms 2</a></li>
			</ul>
			</li>
			<li><a href="../../contato/templates/contacts.html">Contact us</a></li>
			<li><a href="#">Purchase</a></li>
		</ul>
		</nav><!-- end main nav -->
	</div><!-- end twelve -->
</div><!-- end container -->
</header><!-- end header-->
      
     <!--Arrow Navigation-->
	<a id="prevslide" class="load-item"></a>
	<a id="nextslide" class="load-item"></a>
    <div id="slidecaption" ></div>
	

	<!-- JS
	================================================== -->
	
	<script type="text/javascript" src="js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/supersized.3.2.6.min.js"></script>
	<script type="text/javascript" src="theme/supersized.shutter.min.js"></script>
   <script type="text/javascript" src="js/bg_images.js"></script>

<!-- JQUERY plugins: Moderniz, Prettyphoto,  MobileMenu, SuperfishMenu, Weather-->	
<script type="text/javascript"  src="js/plug_ins_2.js"></script>  

<script src="js/functions_2.js"></script>
<!-- End Document
================================================== -->
</body>
</html>