{% extends "base.html" %}
{% load i18n static  staticfiles%}
{% load thumbnail %}

<!-- slideshow -->
{% block slider %}
    <div class="container">
        <div class="sixteen columns">
            <div class="flexslider">
                <ul class="slides">
                    {% for sld in slider %}
                        {% thumbnail sld.foto "940x375" as big %}
                            <li>
                                <a href="#"> <img src={{ MEDIA_URL }}{{ big }} alt=""> </a>
                                <p class="flex-caption">
                                    {{ sld.descricao }}
                                </p>
                            </li>
                        {% endthumbnail %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
<!-- slideshow -->

{% block grey_bg %}
    <div class="bg_gray add-bottom_3">
        <section class="container">
            {% block reservation %}
                <div class="sixteen columns" id="banner_home">
                    <div class="twelve columns alpha"><h2>Para reservas ligue para <strong>3333 2222</strong></h2></div>
                    <div class="four columns omega"><a href="#" class="button_yellow">Verificar Disponibilidade</a></div>
                    <br class="clear">
                </div>
            {% endblock %}

            {% for new in news %}
                <div class="four columns add-bottom">
                    <div class="picture">
                        {% thumbnail new.foto "200" crop="center" as small %}
                            <img src={{ MEDIA_URL }}{{ small }} alt="picture" class="scale-with-grid"><em></em>
                        {% endthumbnail %}
                    </div>
                    <h3> {{ new.titulo }}<span> {{ new.data }}</span></h3>
                    <p>{{ new.texto|safe|truncatechars:140 }}</p>
                    <br class="clear add-bottom"/>
                    <a href="/news/{{ new.slug }}/" class="button">Saiba mais</a>
                </div><!-- end room 1-->
            {% endfor %}
        </section><!-- end container -->
    </div><!-- end bg gray -->
{% endblock %}













