{% extends "base.html" %}
{% load i18n static  staticfiles%}

{% block slider %}
    <div class="container add-bottom_2">
        <div class="sixteen columns add-bottom">
            <h1>Cadastro<span>Exclusivo para condôminos.</span></h1>
        </div>
        <div class="sixteen columns ">
            <div class=" sixteen columns alpha">
                <form method="post" action="/register/" id="contactform">
                    {% csrf_token %}
                    <div class="one-third column alpha">
                        <fieldset>
                            <div class="{% if form.first_name.errors %} error_message {% endif %}">
                                {{ form.first_name.errors }}
                                <label>Nome</label>
                                {{ form.first_name }}
                            </div>

                            <div class="{% if form.last_name.errors %} error_message {% endif %}">
                                {{ form.last_name.errors }}
                                <label>Sobrenome</label>
                                {{ form.last_name }}
                            </div>

                            <div class="{% if form.identidade.errors %} error_message {% endif %}">
                                {{ form.identidade.errors }}
                                <label>Identidade</label>
                                {{ form.identidade }}
                            </div>

                            <div class="{% if form.cpf.errors %} error_message {% endif %}">
                                {{ form.cpf.errors }}
                                <label>CPF</label>
                                <input id="cpf" tabindex="1" type="text" value="{{ form.cpf }}">
                            </div>
                        </fieldset>
                    </div>
                    <div class="one-third column ">
                        <fieldset>
                            <div class="{% if form.email.errors %} error_message {% endif %}">
                                {{ form.email.errors }}
                                <label>Email</label>
                                {{ form.email }}
                            </div>

                            <div class="{% if form.username.errors %} error_message {% endif %}">
                                {{ form.username.errors }}
                                <label>Usuário</label>
                                {{ form.username }}
                            </div>

                            <div class="{% if form.password.errors %} error_message {% endif %}">
                                {{ form.password.errors }}
                                <label>Senha</label>
                                {{ form.password }}
                            </div>

                            <div class="{% if form.telefone.errors %} error_message {% endif %}">
                                {{ form.telefone.errors }}
                                <label>Telefone</label>
                                <input id="phone" tabindex="1" type="text" value="{{ form.telefone }}">
                            </div>

                        </fieldset>
                    </div>
                    <div class="one-third column omega">
                        <label>Status</label>
                        {{ form.status_morador }}
                        <label>Bloco</label>
                        {{ form.bloco }}

                        <div class="{% if form.numero.errors %} error_message {% endif %}">
                            {{ form.numero.errors }}
                            <label>Número</label>
                            {{ form.numero }}
                        </div>
                        <button type="submit" class="button" id="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
            <hr>
            <h3>Atenção<span>O cadastro será avaliado pelo o Administrador.</span></h3>
        </div>
    </div>
{% endblock %}