{% extends "base.html" %}
{% load i18n static  staticfiles%}

{% block slider %}
    <div class="container add-bottom_2">
        <div class="sixteen columns add-bottom">
            <h1>Cadastro<span>Exclusivo para condôminos. O cadastro será avaliado pelo o Administrador. Aguarde a confirmação no email.</span></h1>
        </div>
        <div class="sixteen columns ">
            <div class=" sixteen columns alpha">
                <form method="post" action="/register/" id="contactform">
                    {% csrf_token %}
                    <div class="one-third column alpha">
                        <fieldset>
                            <label>Nome</label>
                            {{ form.first_name }}
                            <label>Sobrenome</label>
                            {{ form.last_name }}
                            <label>Identidade</label>
                            {{ form.identidade }}
                            <label>CPF</label>
                            {{ form.cpf }}
                        </fieldset>
                    </div>
                    <div class="one-third column ">
                        <fieldset>
                            <label>Email</label>
                            {{ form.email }}
                            <label>Usuário</label>
                            {{ form.username }}
                            <label>Senha</label>
                            {{ form.password }}
                            <label>Telefone</label>
                            {{ form.telefone }}
                        </fieldset>
                    </div>
                    <div class="one-third column omega">
                        <label>Status</label>
                        {{ form.status_morador }}
                        <label>Bloco</label>
                        {{ form.bloco }}
                        <label>Número</label>
                        {{ form.numero }}
                        <button type="submit" class="button" id="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}