{% extends "base.html" %}
{% load i18n static  staticfiles%}

{% block slider %}
    <div class="container add-bottom_2">
        <div class="sixteen columns add-bottom">
            <h1>Contato</h1>
        </div>
        <div class="sixteen columns ">
            <div class="map_canvas add-bottom" id="map" style="height:275px;width:100%;">

            </div>
            <hr>
            <div class=" sixteen columns alpha">
                <div class="one-third column alpha">
                    <ul>
                        <li><strong>Av. Monçao</strong> s/n</li>
                        <li>CEP: 65.075-692</li>
                        <li><a href="#">contato@dubai.com.br</a> - <a href="#">www.dubai.com.br</a></li>
                    </ul>
                    <ul id="follow" class="add-bottom">
                        <li><a href="#" id="tw">Twitter</a></li>
                        <li><a href="#" id="fb">Facebook</a></li>
                    </ul>
                </div>
                <div id="message-contact"></div>
                <form method="post" action="assets/contact.php" id="contactform">
                    {% if user.is_authenticated %}
                        <div class="one-third column omega">
                            <fieldset>
                                <label> Menssagem</label>
                                {{ form.mensagem }}
                            </fieldset>
                            <button type="submit" class="button" id="submit_contact">Enviar Mensagem</button>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}