{% extends "base.html" %}
{% load i18n static  staticfiles%}

{% block slider %}
    <div class="container add-bottom_2">
        <div class="sixteen columns add-bottom">
            <h1>Contato</h1>
        </div>
        <div class="sixteen columns ">
            <div class="map_canvas add-bottom" id="map" style="height:275px;width:100%;">
                <img src="{% static "img/mapa.png"%}" alt="picture" class="scale-with-grid">
            </div>
            <hr>
            <div class=" sixteen columns alpha">

                <div class="one-third column alpha">

                    <ul>
                        <li><strong>Av. Monçao s/n</strong>, CEP: 65.075-692</li>
                        <li>98 3235-0545</li>
                        <li><a href="#">condominiodubai@condominiodubai.com.br</a> - <a href="#">www.condominiodubai.com.br</a></li>
                    </ul>
                    <ul id="follow" class="add-bottom">
                        <li><a href="#" id="tw">Twitter</a></li>
                        <li><a href="#" id="fb">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}